<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">The page you maybe looking for...</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-info" %>
  </p>
</div>

 